/*!
global > color
------------------------------
*/
:root {
  --color-primary: #87d303;
  --color-primary-hover: #76b202;
  --color-primary02: #a5df40;
  --color-bg-extra-light: #fafafa;
  --color-bg-light: #f2f2f2;
  --color-border: #dddddd;
  --color-font-base: #333333;
  --color-font-light: #888888;
  --color-white: #ffffff;
  --color-red: #e95757;
  --color-button-shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.2);
  --color-button-shadow-active: 0 4px 8px rgba(0, 0, 0, 0.15);
}
