@use "../../global" as g;

/*!
page > about > about-company
------------------------------
*/

.about-company {
  background-color: var(--color-bg-extra-light);
  padding-block: 64rem;

  @include g.mq() {
    padding-block: 96rem;
  }
}

.about-company-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include g.mq() {
    grid-template-columns: 1fr 549rem;
    gap: 18rem 51rem;
  }
}

.about-company-img {
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  img {
    border-radius: 10rem;
    overflow: hidden;

    @include g.mq() {
      border-radius: 14rem;
    }
  }
}

.about-company-title {
  @include g.mq() {
    grid-row: 1 / 2;
  }
}

.about-company-table {
  margin-top: 16rem;

  @include g.mq() {
    grid-row: 2 / 3;
  }
}
