@use "../global" as g;

/*!
utility > utility
------------------------------
*/
/* 非表示 */
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-pc-only {
  display: none;

  @include g.mq() {
    display: block;
  }
}

.u-sp-only {
  @include g.mq() {
    display: none;
  }
}

.u-block {
  display: block !important;
}

.u-block-pc {
  display: inline !important;

  @include g.mq() {
    display: block !important;
  }
}

.u-block-sp {
  display: block !important;

  @include g.mq() {
    display: inline !important;
  }
}

.u-mt {
  margin-top: 64px !important;

  @include g.mq() {
    margin-top: 96px !important;
  }
}
