@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
  display: flex;
  justify-content: space-between;
  padding: 23rem 12rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-header);

  @include g.mq() {
    align-items: center;
    padding: 24rem 65rem;
  }
}

.l-header-logo-image {
  width: 240rem;
  height: 44rem;

  @include g.mq() {
    width: 290rem;
    height: 53rem;
  }
}

.l-header-menu {
  &::backdrop {
    background-color: var(--color-black);
    opacity: 0.3;
  }
}

.l-header-menu-open {
  background-color: var(--color-primary);
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: "";
    display: inline-block;
    width: 24rem;
    height: 4rem;
    background-image: url("../img/icon-dots.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus {
    outline: none;
  }

  @include g.mq() {
    display: none;
  }
}

.l-header-menu {
  @include g.mq() {
    display: contents;
  }
}

.l-header-menu-inner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 85%;
  height: 90%;
  max-height: 592rem;
  margin: 0;
  background-color: var(--color-primary);
  padding: 20rem 12rem 40rem 40rem;
  border-bottom-left-radius: 30rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include g.mq() {
    display: contents;
  }
}

.l-header-menu-close {
  margin-left: auto;
  background-color: var(--color-white);
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: "";
    display: inline-block;
    width: 19.8rem;
    height: 19.8rem;
    background-image: url("../img/icon-cross.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus {
    outline: none;
  }

  @include g.mq() {
    display: none;
  }
}

.l-header-list {
  display: inline-flex;
  flex-direction: column;
  gap: 16rem;
  transform: translateY(-27rem);

  @include g.mq() {
    flex-direction: row;
    align-items: center;
    gap: 50rem;
    transform: translateY(0);
  }
}

.l-header-item-link {
  display: inline-flex;
  flex-direction: column;
  color: var(--color-white);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;

  @include g.mq() {
    flex-direction: row;
  }

  @media (any-hover: hover) {
    &:hover {
      background-size: 100% 1px;
    }
  }
}

.l-header-item-en {
  font-family: var(--font-family-en);
  font-size: 28rem;
  letter-spacing: 0.025em;

  @include g.mq() {
    font-size: 18rem;
    line-height: 1;
  }
}

.l-header-item-jp {
  font-size: 14rem;
  letter-spacing: 0.025em;

  @include g.mq() {
    display: none;
  }
}

.l-header-item-link--contact {
  @include g.mq() {
    background-color: var(--color-primary);
    padding: 10rem 32rem;
    border-radius: 100vh;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;

    &:active {
      transform: translateY(0);
      box-shadow: var(--color-button-shadow-active);
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 9rem;
      width: 16rem;
      height: 13rem;
      mask-image: url("../img/icon-mail.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--color-white);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-primary-hover);
        transform: translateY(-2rem);
        box-shadow: var(--color-button-shadow-hover);
        color: var(--color-white);
        background-size: 0;
      }
    }
  }
}
