@use "../global" as g;

/*!
component > entry-button
------------------------------
*/
.c-entry {
  position: relative;
  width: 290rem;
  height: 296rem;

  @include g.mq() {
    width: 355rem;
    height: 360rem;
  }
}

.c-entry-link {
  @media (any-hover: hover) {
    &:hover {
      .c-button-text {
        color: var(--color-primary-hover);
      }

      .c-button-icon {
        background-color: var(--color-primary-hover);
      }
    }
  }
}

.c-entry-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
