@use "../global" as g;

/*!
component > pagination
------------------------------
*/
.c-pagination {
  display: flex;
  justify-content: center;
  margin-top: 48rem;
  gap: 6rem;
  font-size: 16rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.c-pagination-item {
  width: 40rem;
  height: 40rem;
  border-radius: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-bg-light);
  transition: background-color 0.3s ease, color 0.3s ease;

  @include g.mq() {
    width: 40rem;
    height: 40rem;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}

.c-pagination-item--prev,
.c-pagination-item--next {
  &::before {
    content: "";
    display: block;
    width: 15rem;
    height: 15rem;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }
}

.c-pagination-item--prev {
  &::before {
    mask-image: url("../img/icon-arrow.svg");
    transform: rotate(180deg);
  }
}

.c-pagination-item--next {
  &::before {
    mask-image: url("../img/icon-arrow.svg");
  }
}

.is-pagination-active {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.c-pagination--dots {
  background-color: transparent;
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    width: 10rem;
    height: 3rem;
    background-color: currentColor;
    mask-image: url("../img/icon-dots-small.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }
}
