@use "../global" as g;

/*!
component > title
------------------------------
*/

.c-table-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 0;
  border-bottom: 1rem solid var(--color-border);
  padding: 16rem 8rem;

  @include g.mq() {
    grid-template-columns: 110rem 1fr;
    align-items: center;
    padding: 24rem 8rem;
  }
}

.c-table-row--recruit {
  @include g.mq() {
    grid-template-columns: 134rem 1fr;
  }
}

.c-table-header {
  color: var(--color-font-light);
  font-size: 14rem;
  line-height: 1.7;
  letter-spacing: 0.125em;

  @include g.mq() {
    font-size: 16rem;
  }
}

.c-table-tel {
  transition: 0.3s;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }
}
