@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  background-image: url(../img/top/top-kv-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 485rem;
  position: relative;

  @include g.mq() {
    background-image: url(../img/top/top-kv.jpg);
    height: 769rem;
  }
}
