@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  background-image: url(../img/top/top-kv-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 485rem;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include g.mq() {
    background-image: url(../img/top/top-kv.jpg);
    height: 769rem;
  }
}

.top-kv-text-wrap {
  color: var(--color-white);
  padding-bottom: 47rem;

  @include g.mq() {
    padding-bottom: 190rem;
  }
}

.top-kv-text {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 43rem;
  line-height: 1.05;
  letter-spacing: 0.025em;

  @include g.mq() {
    font-weight: 300;
    font-size: 101rem;
  }
}

.top-kv-text-unit {
  display: block;
}

.top-kv-text02 {
  font-size: 18rem;
  line-height: 1.5;
  letter-spacing: 0.2em;
  margin-top: 21rem;

  @include g.mq() {
    font-size: 22rem;
    line-height: 1.7;
    margin-top: 54rem;
  }
}

.top-kv-scroll-wrapper {
  display: none;

  @include g.mq() {
    position: absolute;
    right: 0;
    bottom: -1px;
    display: flex;
    align-items: flex-end;
  }
}

.top-kv-scroll {
  display: none;

  @include g.mq() {
    background-color: var(--color-white);
    border-radius: 39rem 0 0 0;
    padding: 49rem 22rem 32rem 36rem;
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    outline: 1px solid var(--color-white);
    outline-offset: -0.5px;

    @media (any-hover: hover) {
      &:hover {
        .top-kv-scroll-line {
          animation: line-bounce 0.5s ease infinite alternate;
        }
      }
    }
  }
}

.top-kv-scroll-text {
  display: none;

  @include g.mq() {
    display: block;
    writing-mode: vertical-rl;
    font-family: var(--font-family-en);
    font-size: 15rem;
    color: var(--color-primary);
    line-height: 1;
    letter-spacing: 0.05em;
  }
}

.top-kv-scroll-line {
  @include g.mq() {
    background-image: url("../img/top/scroll-hint.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 90rem;
  }
}

.top-kv-scroll-curve {
  @include g.mq() {
    background-image: url("../img/top/curve.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 46rem;
    height: 46rem;
  }
}

@keyframes line-bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
